.card img{
    width: 100%;
    border-radius: 17px;
    object-fit: contain;
}

.cardContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 30px 10px;
    overflow-y: auto;
    max-height: 62vh;
    
}
.card{
    width: 250px;
    /* margin-top: 30px; */
    padding: 10px;
    background-color: #2b2b2b;
    border-radius: 10px;
    position: relative;
}


.card:hover{
    background-color: #363636;
    cursor: pointer;
}
.card > *{
    margin-top: 7px;
}

.card h2{
    font-size: 22px;
    text-align: center;
}

.card p{
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}

.play_btn{
    position: absolute;
    top: 220px;
    right: 27px;
    opacity: 0;
    transition: all 0.4s ease-out;
    cursor: pointer;
}



.card:hover .play_btn{
    opacity: 1;
    top: 205px;
}

.play_btn{
    
}


