@media (max-width: 1316px) {
    div.left {
        position: absolute;
        left: -100%;
        width: 46vw;
        background-color: black;
        /* transition: all ease 0.5s; */
    }

    .ctrlbtn{
        margin-left: 96px;
    }



    .ham_close {
        display: inline;
    }

    div.container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right {
        width: 96vw;
        margin-left: 15px;
    }

    .spotifyPlaylists {
        height: 85vh;
    }

    .playbar {
        width: 93.5%;

    }

    .hamburger {
        display: flex;
        margin-right: 55px;
        gap: 8px;
        align-items: center;
        font-size: 20px;
    }
}


@media (max-width: 1088px) {
    .header {
        padding: 1vw 1.8vw;
    }

    .spotifyPlaylists {
        height: 83.6vh;
    }

    .playbar {
        width: 92.5%;
    }

    div.left {
        width: 46vw;
    }

}


@media (max-width: 939px) {
    .playbar {
        width: 91%;
    }

    .spotifyPlaylists {
        height: 84vh;
    }

    .seekbar {
        width: 93%;
    }

    div.left {
        width: 56vw;
    }

    .card {
        width: 249px;
    }


    .playbar{
        height: 14.5vh;
    }

    .aboveseek{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    .time_v{
        flex-direction: column;
        width: 150px;
    }

    .ctrlbtn{
        margin-left: 0px;
    }

    .song-info{
        justify-content: center;
    }
}




@media (max-width: 828px) {
    .playbar {
        width: 89.5%;
    }

    .header {
        padding: 1.5vw 1.8vw;
    }

    div.left {
        width: 68vw;
    }

    .seekbar {
        width: 91%;
    }
}

@media (max-width: 662px) {
    .playbar {
        width: 88%;
    }

    div.left {
        width: 70vw;
    }

    .card {
        width: 236px;
    }

    div.left {
        width: 77vw;
    }
}


@media (max-width: 618px) {
    .cardContainer {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        margin: 0;
        margin-top: 15px;
        max-height: 67vh;
    }

    .card {
        width: 78vw;
    }

    .playbar {
        width: 86.8%;
    }

    .playbar{
        height: 15.5vh;
    }

    .header {
        padding: 3.5vw 1.8vw;
    }

    .seekbar {
        width: 89%;
    }

    
    

    .time_v{
        justify-content: center;
    }

    .ctrlbtn{
        margin-left: 0px;
    }

    .song-info{
        justify-content: center;
        font-size: 23px;
        width: 291px;
    }

    .ctrlbtn{
        margin-top: 6px;
    }
}



@media (max-width: 530px) {
    .card {
        width: 79vw;
    }

    .cardContainer{
        max-height: 56vh;
    }

    div.left {
        width: 100vw;
    }

    .arrow{
        display: none;
    }

    .playbar {
        width: 81.5%;
       
        display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

    

    .song-info{
        justify-content: center;
        width: 300px;
        font-weight: 500;
        font-size: 22px;
    }

    .timeline{
        justify-content: center;
    }

    .seekbar {
        width: 86%;
    }

    
}
@media (max-width: 393px) {
    .playbar{
        width: 78.5%;
    }

    .song-info{
        font-size: 18px;
    }

    .timeline{
        font-size: 14px;
    }
}




  @media (max-width: 605px) and (max-height: 1007px) {
    .playbar{
        height: 17.5vh;
    }
  }

  @media (max-width: 550px ) and (max-height: 922px ) {
    .playbar{
        height: 18.5vh;
    }
  }
  
  @media (max-width: 531px) and (max-height: 860px) {
    .playbar{
        height: 19.5vh;
    }

    .spotifyPlaylists {
        height: 83vh;
    }
  }

  @media (max-width: 531px) and (max-height: 700px) {
    .playbar{
        height: 21.8vh;
    }

    .spotifyPlaylists {
        height: 80vh;
    }
  }