.header {
    display: flex;
    justify-content: space-between;
    /* padding: 20px; */
    /* margin: 15px; */
    background-color: #1c1c1c;
    border-radius: 10px;
    margin-left: 0;

}
.header > *{
    padding: 1.2vw 1.8vw;
}

.header .nav{
    display: flex;
    gap: 20px;
    align-items: center;
}
.hamburger{
    width: 40px;
    cursor: pointer;
    display: none;  
    cursor: pointer;
}

#hamburger{
    width: 30px;
}

.arrow{
    margin-top: 7px;
}


.header img{
    width: 20px;
}

.right{
    margin: 15px;
    margin-left: 0;

}

.nav{
    /* padding-top: 27px; */
}

.buttons{
    display: flex;
    gap: 20px;
    margin-right: 1.04vw;
}



.loginbtn{
    cursor: pointer;
    padding: 9px 25px;
    border: none;
    border-radius: 30px;
    font-family: sans-serif;
}

.loginbtn:hover{
    font-weight: bold;
    font-size:15px;    
    
}

.signupbtn{
 border: none;
 background-color: inherit;
 color:  #707070;
 cursor: pointer;
}

.signupbtn:hover{
    color: white;
    font-size:15px;
}


.spotifyPlaylists{
    margin-top: 10px;
    height: 81.8vh;
    padding: 20px;
    border-radius: 10px;
}

.spotifyPlaylists{
    position: relative;
}


.playbar{
    position: absolute;
    bottom: 0;
    background-color: #2f2f2f;
    box-shadow: -9px 6px 20px 0px #141414;  
    padding: 20px;
    height: 5.5vh;

    width: 93.5%;
    margin-bottom: 15px;
    border-radius: 10px;

}

.seekbar{
    height: 4px;
    border-radius: 20px;
    cursor: pointer;
    width: 95%;
    background-color: white;
    position: absolute;
    bottom: 15px;
    left: 30px;

}

#line{
    height: 4px;
    width: 0%;
    background-color: green;
    position: relative;
    transition: 0.3s;
    border-top-left-radius:30px ;
    border-bottom-left-radius:30px ;

}

.circle{
    width: 13px;
    height: 13px;
    border-radius: 100px;
    background-color: white;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.3s;
    cursor: pointer;
}

.ctrlbtn{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-left: 70px;
}

.aboveseek{
    display: flex;
    justify-content: space-between;
    margin: 0px 12px;
}

.song-info{
    width: 240px;
    /* font-weight: 500; */
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-size: 17px;
}

.highlighted {
    background-color: rgb(62, 61, 61);
}

.timeline{
    /* width: 200px; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}

.ctrlbtn img{
    width: 30px;
    cursor: pointer;
}

.time_v{
    width: 318px;

    display: flex;
    gap: 15px;
    cursor: pointer;
    justify-content: flex-end;
    align-items: center;
}


.volume{
    transition: all ease 0.3s;
    display: flex;
    /* width: 300px; */
    justify-content: center;
    gap: 10px;
    align-items: center;
    /* transition: all ease 0.5s; */
    /* width: 10vw; */
}


.volume:hover{
    
}